@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Lobster|Be+Vietnam|Ubuntu&display=swap');

/*Navigation box*/
nav.navigation {
  /*Fix the position on the top*/
  position: fixed;
  top: 0;
  /*Size*/
  height: 50px;
  width: 100%;
  /*Background*/
  background-color: white;
  opacity: 0.95;
  box-shadow: 0px 3px 10px black;
  /*Spacing*/
  padding: 0;
  margin: 0;

  /*Text settings*/
  text-decoration: none;
  color: black;
  font-family: 'Montserrat';

  z-index: 100;
}

/*Navigation menu*/
nav.navigation ul {
  /*Make space on the right as same on the left*/
  padding-right: 100px;
  /*Remove margins*/
  margin: 0;

  /*Float on the right side of the navigation bar*/
  float: right;
}

/*Navigation menu option*/
nav.navigation ul li {
  /*Display inline*/
  display: inline-block;
  /*Text settings*/
  font-weight: normal;
  font-family: arial;
  text-decoration: none;
  font-size: 16px;

  /*Size*/
  height: 48px;
}

/*Style of all menu texts*/
nav.navigation ul li a {
  /*Text settings*/
  text-decoration: none;
  color: black;
  font-family: 'Montserrat';

  /*Spacing*/
  padding: 15px;
  display: block;
  position: relative;
}

/*Underlining of menu items*/
nav.navigation ul li a::after {
  /*Position absolutely*/
  position: absolute;

  /*Set position*/
  bottom: 0;
  left: 0;

  /*Size*/
  height: 0.1em;
  width: 0;

  /*Background*/
  background: red;

  /*Set content to empty string, needed just to display ::after selector*/
  content: "";

  transition: width 500ms;
}

/*Underlining of current menu item*/
nav.navigation ul li.current a::after {
  width: 100%;
}

/*Display the underlining on hover event of hoverable menu item*/
nav.navigation ul li.hoverable a:hover::after {
  width: 100%;
}

/*Navigation image box style*/
div.menuImg {
  /*Align image vertically*/
  display: inline-block;
  height: 100%;
  vertical-align: middle;

  /*Make space on the left as on the right*/
  padding-left: 100px;
}

/*Navigation image style*/
img.menuImg {
  /*Align image to the text*/
  vertical-align: text-bottom;

  /*Size*/
  height: 30px;
  width: 30px;

  /*Spacing*/
  padding: 10px 0px 10px 10px;
}
