@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Lobster&display=swap');

body {
  margin: 0;
  padding: 0;
}

ul.navigation {
  /*Set position*/
  position: fixed;
  top: 0px;
  /*Size*/
  width: 100%;
  height: 50px;
  line-height: 50px;
  /*Background*/
  background-color: #ffffff;
  opacity: 0.95;
  /*Spacing*/
  padding: 0px;
  margin: 0px;

  /*Border*/
  border-bottom-style: solid;
  border-bottom-color: grey;
  border-bottom-width: 1px;
}

ul.navigation li.navigationItem {
  /*Display inline*/
  display: inline-flex;
  /*Text settings*/
  font-weight: bold;
  font-family: arial;
  text-decoration: none;
  font-size: 16px;
  /*Size*/
  height: 48px;

  /*Border*/
  border-bottom-color: transparent;
  /*Transitions*/
  transition: border-bottom-color 0.2s, color 0.2s;
}

ul.navigation li.navigationItem a {
  /*Text settings*/
  text-decoration: none;
  color: blue;

  /*Spacing*/
  padding-right: 15px;
  padding-left: 15px;

  /*Transitions*/
  transition: color 0.2s;
}

ul.navigation li.current {
  /*Color*/
  color: green;
  /*Bottom border*/
  border-bottom-style: solid;
  border-bottom-color: rgb(140, 140, 255);
  border-bottom-width: 2px;

  /*Spacing*/
  padding-right: 15px;
  padding-left: 15px;
}

ul.navigation li.hoverable:hover {
  /*Bottom border*/
  border-bottom-style: solid;
  border-bottom-color: rgb(140, 140, 255);
  border-bottom-width: 2px;
}


ul.navigation li.hoverable a:hover {
  /*Color*/
  color: green;
}

ul.navigation li.navigationImg {
  /*Align image vertically*/
  display: inline-block;
  height: 100%;
  vertical-align: middle;

  /*Spacing*/
  padding-right: 15px;
  padding-left: 15px;
}


ul.navigation li img.navigationImg {
  /*Align image vertically*/
  vertical-align: text-bottom;
  height: 26px;
  width: 26px;
}

/*div.navigation a.current {
  /*Bottom border
  border-bottom-style: solid;
  border-bottom-color: rgb(140, 140, 255);
}*/

/*div.navigation {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  transition: 0.5s;
}

.navigation a {
  vertical-align: middle;
  height: 40px;
  width: auto;
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  padding-right: 14px;
  padding-left: 14px;
  color: blue;
  font-weight: bold;
  font-family: 'Noto Sans',sans-serif;
  font-size: 15px;
  font-weight: none;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
}

.navigation a:hover.hoverable {
  color: blue;
}

.navigation a.current {
  border-style: solid;
  border-color: #00cc00;
}

.navigationImg {
  height: 25px;
  width: 25px;
  padding: 5px;
}*/

p {
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
}

h2 {
  font-family: 'Noto Sans', sans-serif;;
}

h3 {
  font-family: 'Noto Sans', sans-serif;
}

h4 {
  font-family: 'Noto Sans', sans-serif;
}

h5 {
  font-family: 'Noto Sans', sans-serif;
}

div.section {
  padding: 20px;
  margin-top: 30px;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 50px;
  text-align: justify;
}

.title {
  text-align: center;
}

footer {
  background-color: #404040;
  color: #ffffff;
  width: 100%;
  text-align: center;
  font-size: 12px;
  position: fixed;
  bottom: 0px;
}

th {
  font-weight: normal;
}

td {
  font-weight: bold;
}

div.codeBlock {
  background-color: #e1e1e3;
  border-style: solid;
  border-radius: 5px;
  border-color: #c0c0c4;
  overflow: auto;
  max-height: 1000px;
}

code.codeInBlock {
  padding: 5px;
}

code.code {
  background-color: #e1e1e3;
  border-style: solid;
  border-radius: 5px;
  border-color: #c0c0c4;
  padding: 5px;
}
