/*Wiki page navigation*/
div.wikiSection {
  /*Padding spacing*/
  padding: 30px 18% 20px 18%;

  /*Margin spacing*/
  margin: 30px 0 30px 0;

  /*Align text*/
  text-align: justify;
}

/*Term description style*/
div.termDesc {
  /*Spacing*/
  padding-top: 50px;

  /*Font settings*/
  font-size: 15px;
}

/*Wiki page side bar (right)*/
ul.wikiSideBar {
  /*Position*/
  position: fixed;
  right: 0px;
  /*Hide list dots*/
  list-style-type: none;

  /*Spacing*/
  margin: 21px 0 0 0;
  padding: 0;
  /*Size*/
  height: 100%;
  width: 15%;

  /*Background and border*/
  background-color: white/*#f7f8fa*/;
  border-left: solid 1px grey;
}
ul.wikiSideBar svg {
  height: 10px;
  width: 10px;
  margin-right: 5px;
  fill: grey;
}

/*Wiki page side bar menu item*/
li.wikiSideBar a {
  /*Font settings*/
  color: black;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
}
li.wikiSideBar {
  /*Spacing*/
  padding-left: 20px;
}

/*Wiki page side bar title text*/
ul.wikiSideBar li.title {
  /*Spacing*/
  padding: 20px 0 5px 20px;
  font-size: 12px;

  /*Font settings*/
  text-align: left;
  font-weight: bold;
  color: white;
}
ul.wikiSideBar li.title a {
  color: grey;
  font-size: 12px;
  text-transform: uppercase;
}

/*Wiki page side bar hoverable menu item properties*/
ul.wikiSideBar li.active, ul.wikiSideBar li.hoverable a, ul.wikiSideBar li.hoverable {
  /*Border*/
  border-left: solid 0px transparent;
  /*Transitions*/
  transition: border-left 0.2s;
}

ul.wikiSideBar li.hoverable, ul.wikiSideBar li.active {
  /*Add spacing*/
  margin: 2px 0px 2px 0px;
}

ul.wikiSideBar li.active {
  /*Left border*/
  border-left: solid 2px red;
}

ul.wikiSideBar li:hover.hoverable > a {
  color: red;
}







div.codeBlock {
  background-color: #e1e1e3;
  border-style: solid;
  border-radius: 5px;
  border-color: #c0c0c4;
  overflow: auto;
  max-height: 1000px;
}

code.codeInBlock {
  padding: 5px;
}

code.code {
  background-color: #e1e1e3;
  border-style: solid;
  border-radius: 5px;
  border-color: #c0c0c4;
  padding: 5px;
}

/*Wiki navigation side bar (left)*/
ul.wikiNavigation {
  /*Position*/
  position: fixed;
  left: 0px;
  /*Hide list dots*/
  list-style-type: none;

  /*Spacing*/
  margin: 21px 0 0 0;
  padding: 0;
  /*Size*/
  height: 100%;
  width: 15%;

  /*Background and border*/
  background-color: white/*#f7f8fa*/;
  border-right: solid 1px grey;
}
ul.wikiNavigation svg {
  height: 11px;
  width: 19px;
  margin-right: 5px;
  fill: none;
  stroke: grey;
  stroke-width: 2;
}

/*Wiki page side bar menu item*/
li.wikiNavigation a {
  /*Font settings*/
  color: black;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
}
li.wikiNavigation {
  /*Spacing*/
  padding-left: 20px;
}

/*Wiki page side bar title text*/
ul.wikiNavigation li.title {
  /*Spacing*/
  padding: 20px 0 5px 20px;
  font-size: 12px;

  /*Font settings*/
  text-align: left;
  font-weight: bold;
  color: white;
}
ul.wikiNavigation li.title a {
  color: grey;
  font-size: 12px;
  text-transform: uppercase;
}

/*Wiki page side bar hoverable menu item properties*/
ul.wikiNavigation li.current, ul.wikiNavigation li.hoverable a, ul.wikiNavigation li.hoverable {
  /*Border*/
  border-left: solid 0px transparent;
  /*Transitions*/
  transition: border-left 0.2s;
}

ul.wikiNavigation li.hoverable, ul.wikiNavigation li.current {
  /*Add spacing*/
  margin: 2px 0px 2px 0px;
}

ul.wikiNavigation li.current {
  /*Left border*/
  border-left: solid 2px red;
}

ul.wikiNavigation li:hover.hoverable > a {
  color: red;
}












tr {
  min-height: 150px;
}
table tr:nth-child(1) {
  height: auto;
}
table tr:nth-child(even) {
  background-color: #ebebeb;
}
th {
  font-weight: normal;
}
td {
  font-weight: bold;
}
table.wikiTable {
  border-collapse: collapse;
  font-family: 'Noto Sans', sans-serif;
}

table.wikiTable tr {
  border: 1px solid black;
}

table.wikiTable td {
  border: 1px solid black;
  padding: 2px;
  font-weight: normal;
}

table.wikiTable th {
  border: 1px solid black;
  font-weight: bold;
  padding: 2px;
  text-align: center;
}

div.wikiCommand {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: normal;
  font-family: 'Noto Sans', sans-serif;
}

.wikiTextCode {
  font-family: monospace;
  font-size: 15px;
}
