/*YAML*/
.yaml-comment {
  color: green;
}

.yaml-key {
  color: blue;
  font-weight: bold;
}

.yaml-value {
  color: black;
}

.yaml-string-value {
  color: red;
}

/*JAVA*/
.java-keyword {
  color: purple;
  font-weight: bold;
}

.java-comment {
  color: grey;
  font-style: italic;
}

.java-docs {
  color: green;
  font-style: italic;
  font-weight: bold;
}

.java-primitive-type {
  color: blue;
  font-weight: bold;
}

.java-string {
  color: green;
}

.java-number {
  color: lightblue;
}

.java-boolean {
  color: orange;
  font-weight: bold;
}

.java-char {
  color: green;
}