@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
$max-code-height: 60vh;

div.code-block {
  /*Position*/
  display: block;
  margin: 10px 0;
  /*Background*/
  background: white;
  /*Border*/
  border: solid 1px grey;

  div.header {
    /*Position*/
    position: sticky;
    top: 0;
    padding: 2px;
    /*Background*/
    background: lightgrey;

    p {
      /*Position*/
      margin: 0;
      /*Font*/
      font-family: 'Raleway';
      font-weight: 600;
      text-align: center;
    }
  }

  div.code {
    pre {
      /*Size*/
      max-height: $max-code-height;
    }
  }

  &:not([class*="expandable-code"]) {
    div.code {

    }
  }
}

div.code-block.expandable-code {
  div.header {
    p::after {
      /*Position*/
      float: left;
      /*Content*/
      content: "\02192 (Click to show)";
      color: grey;
    }
  }

  &.open {
    div.header {
      p::after {
        /*Content*/
        content: "\02193 (Click to hide)";
      }
    }
  }
}
